.collection_item{
    width: 23%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    margin-bottom:15px;

    .image{
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }

    .collection_footer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 5%;
        font-size: 18px;

        .name{
            width: 85%;
            margin-bottom: 15px;
        }

        .price{
            width: 15%;
        }
    }
}